* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #085553;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.clock h1 {
    display: inline;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: aliceblue;
    font-size: 6rem;
}

.clock h4 {
    font-family: 'Oxygen', sans-serif;
    color: aliceblue;
}

/* ----------------------------------------------------------------- */

@media (max-width: 800px) {
    .clock h1 {
        font-size: 2.6rem;
    }

    .clock h4 {
        font-size: 0.8rem;
    }
}